/*General CSS*/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Agave";
  /*border: red 1px solid;*/
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

[class*="col-"] {
  padding: 15px;
}

html {
  padding-top: 1rem;
  min-height: 100%;
  min-width: 100%;
  background-image: linear-gradient(#00195d, #003784);
  background-repeat: no-repeat;
  background-size: 100%;
}

body {
  margin-left: 3rem;
  margin-right: 3rem;
}

.headshot {
  height: 100%;
  width: 100%;
}

.content {
  background-color: #ffe4c4;
  margin: 10px;
  margin-left: 0px;
  border-radius: 1rem;
  height: 100%;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  background-color: #00195d;
  overflow-x: hidden;
  transition: 0.5s;
}

.navigation {
  position: relative;
  margin-top: 20%;
  width: 100%;
  text-align: center;
}

.navigation a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffe4c4;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088ff;
}

.closebtn {
  float: right;
  margin-right: 4rem;
  margin-top: 10px;
  font-size: 64px;
}

.closebtn {
  color: #ffe4c4;
  text-decoration: none;
}

.burger {
  color: #ffe4c4;
  float: right;
  margin-bottom: -40px;
  margin-right: 30px;
  margin-left: 90%;
  transition: 0.4s;
  font-size: 32px;
}

.burger:hover {
  color: #0088ff;
  cursor: pointer;
}

.heading {
  color: bisque;
  padding: 0px;
  padding-left: 1rem;
}

p {
  margin-top: 2px;
}

h2 {
  margin-bottom: 1rem;
}

/* Slideshow-specific CSS */
ul {
  margin-left: 1rem;
}

.slideshow {
  display: flex;
  justify-content: center;
}

.row.slidecontainer {
  margin-top: 1rem;
  justify-content: center;
  column-gap: 1rem;
}

.slideshow img {
  height: 24rem;
  width: 100%;
  object-fit: contain;
  margin: auto;
}

a.fas {
  color: bisque;
  background-color: #0088ff;
  padding: 1rem;
  border-radius: 3px;
  transition: 0.3s;
  text-decoration: none;
  opacity: 0.5;
}

a.fas:hover {
  background-color: #00195d;
}
/*Index-specific CSS*/

.homelist {
  list-style-type: kannada;
  margin-top: 1rem;
}

.headshot {
  max-width: 18rem;
  max-height: 18rem;
}

/*About-specific CSS*/

.picrow {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.picrow img {
  max-width: 30%;
  max-height: 30%;
}

/*Contact-specific CSS*/
/*Projects-specific CSS*/

.project h2 {
  margin-bottom: 0px;
}

.project h3 {
  margin-top: 1rem;
}

.subtitle {
  color: grey;
  margin-bottom: 1rem;
}

/*Resume-specific CSS*/

.exp-container {
  border: 3px #0088ff solid;
  border-radius: 3px;
  margin-top: 1rem;
  padding: 1rem;
}

.exp-container a {
  color: #0088ff;
}

/*Responsive-design*/
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
